@charset "UTF-8";
.hide {
	display: none !important;
}
.loading_area,
.popup_area {
	position: fixed;
	top : 0;
	left : 0;
	right : 0;
	bottom: 0;
	z-index : 1000;
}
.popup_area {
	background: rgba(0,0,0,0.7);
}
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	background: url(../img/loading.svg);
}
.layer_wrap {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
}
.layer {
	display: table-cell;
	vertical-align: middle;
}
.layer_inner {
	display: inline-block;
	width: 300px;
	padding: 20px;
	background: #fff;
	border: 1px solid #e2dede;
}
.layer .content {
	color: #333;
}
.layer .btn_close {
	width: 100px;
	height: 30px;
	background: #fdcbcb;
	font-size: 20px;
	color: #fff;
	font-weight: 600;
}
